/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* End CSS Reset*/

/* Custom styles */

:root {
  --violet: #7541c8;
  --dark-gray-blue: #48556a;
  --blackish-blue: #19212e;
  --light-gray: #cfcfcf;
  --light-gray-blue: #ecf2f8;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--light-gray-blue);
  letter-spacing: 0.015rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 71px 24px;
  text-wrap: wrap;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: min(95%, 70rem);
}

.testimony-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  padding: 2rem;
}

.one {
  background-color: var(--violet);
  color: white;
}

.one.quote {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.two {
  background-color: var(--dark-gray-blue);
  color: white;
}

.three,
.five {
  background-color: white;
  color: var(--dark-gray-blue);
}

.four {
  background-color: var(--blackish-blue);
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1.06rem;
  margin-bottom: 1.12rem;
}

.user-image {
  border-radius: 50%;
  width: 1.75rem;
  aspect-ratio: 1;
}

.one .user-image {
  border: 2px solid #a775f1;
  width: 2rem;
}

.four .user-image {
  border: 2px solid #733fc8;
}

.user-name-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.three .user-name-title,
.five .user-name-title {
  color: var(--dark-gray-blue);
}

.user-name {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 100%;
}

.user-title {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 100%;
  opacity: 0.5;
}

.testimony-intro {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;
}

.one .testimony-intro {
  margin-bottom: 2.5rem;
}

.main-testimony {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 138.462%;
  opacity: 0.7;
}

.one .main-testimony {
  color: var(--light-gray);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 64rem) {
  .testimonials-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "one one two five"
      "three four four five";
  }

  .testimony-container {
    padding: 1.6rem 2rem;
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }

  .five {
    grid-area: five;
  }

  .one .testimony-intro {
    margin-bottom: 1rem;
  }

  .three .testimony-intro,
  .four .testimony-intro,
  .five .testimony-intro {
    margin-bottom: 1.5rem;
  }
}
